<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

	<Script file="local.lua"/>
	<Script file="config.lua"/>
	<Script file='general.lua' />

	<Button name="UIConfigGroupButtonTemplate" virtual="true">
		<Size>
			<AbsDimension x="148" y="18"/>
		</Size>
		<ButtonText name="$parentLabel" justifyH="LEFT" parentKey="label" />
		<NormalFont style="GameFontNormal"/>
		<HighlightFont style="GameFontHighlight"/>
		<HighlightTexture file="Interface\QuestFrame\UI-QuestLogTitleHighlight" alphaMode="ADD">
			<Anchors>
				<Anchor point="TOPLEFT">	
					<Offset>
						<AbsDimension x="0" y="1"/>
					</Offset>
				</Anchor>
				<Anchor point="BOTTOMRIGHT">	
					<Offset>
						<AbsDimension x="0" y="1"/>
					</Offset>
				</Anchor>
			</Anchors>
		</HighlightTexture>
		<Scripts>
			<OnClick>
				PlaySound("igMainMenuOptionCheckBoxOn");
			</OnClick>
		</Scripts>
	</Button>

	<Frame name="UIConfigFrame" parent="UIParent" hidden="true" enableMouse="true" frameStrata="HIGH" movable="true">
		<Size>
			<AbsDimension x="640" y="480"/>
		</Size>
		<Anchors>
			<Anchor point="CENTER">
				<Offset>
					<AbsDimension x="0" y="0"/>
				</Offset>
			</Anchor>
		</Anchors>
		<Frames>
			<Frame name="$parentElements">
				<Size>
					<AbsDimension x="150" y="390"/>
				</Size>
				<Anchors>
					<Anchor point="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="12" y="42"/>
						</Offset>
					</Anchor>
				</Anchors>
				<Scripts>
					<OnLoad>
						CreateBG(self);
					</OnLoad>
				</Scripts>
			</Frame>
			<Frame name="$parentTitle">
				<Anchors>
					<Anchor point="BOTTOMRIGHT" relativePoint="TOPRIGHT" relativeTo="$parentElements">
						<Offset>
							<AbsDimension x="0" y="12"/>
						</Offset>
					</Anchor>
					<Anchor point="TOPLEFT">
						<Offset>
							<AbsDimension x="12" y="-12"/>
						</Offset>
					</Anchor>
				</Anchors>
				<Layers>
					<Layer level="OVERLAY">
						<FontString name="$parentLabel" inherits="GameFontNormal" text="Allez UI">
							<Anchors>
								<Anchor point="CENTER" x="0" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						CreateBG(self);
					</OnLoad>
				</Scripts>
			</Frame>
			<Button name="$parentApply">
				<Size>
					<AbsDimension x="70" y="20"/>
				</Size>
				<Anchors>
					<Anchor point="BOTTOMRIGHT">
						<Offset>
							<AbsDimension x="-12" y="12"/>
						</Offset>
					</Anchor>
				</Anchors>
				<Layers>
					<Layer level="OVERLAY">
						<FontString name="$parentLabel" inherits="GameFontNormal" text="ACCEPT">
							<Anchors>
								<Anchor point="CENTER" x="0" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						CreateBG(self);
					</OnLoad>
					<OnClick>
						ReloadUI();
					</OnClick>
				</Scripts>
			</Button>
			<Button name="$parentCancel">
				<Size>
					<AbsDimension x="70" y="20"/>
				</Size>
				<Anchors>
					<Anchor point="BOTTOMRIGHT" relativeTo="$parentApply" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="-10" y="0"/>
						</Offset>
					</Anchor>
				</Anchors>
				<Layers>
					<Layer level="OVERLAY">
						<FontString name="$parentLabel" inherits="GameFontNormal" text="CANCEL">
							<Anchors>
								<Anchor point="CENTER" x="0" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						CreateBG(self);
					</OnLoad>
					<OnClick>
						self:GetParent():Hide();
					</OnClick>
				</Scripts>
			</Button>
			<Button name="$parentReset">
				<Size>
					<AbsDimension x="70" y="20"/>
				</Size>
				<Anchors>
					<Anchor point="BOTTOMRIGHT" relativeTo="$parentCancel" relativePoint="BOTTOMLEFT">
						<Offset>
							<AbsDimension x="-10" y="0"/>
						</Offset>
					</Anchor>
				</Anchors>
				<Layers>
					<Layer level="OVERLAY">
						<FontString name="$parentLabel" inherits="GameFontNormal" text="RESET">
							<Anchors>
								<Anchor point="CENTER" x="0" y="0"/>
							</Anchors>
						</FontString>
					</Layer>
				</Layers>
				<Scripts>
					<OnLoad>
						CreateBG(self);
					</OnLoad>
					<OnClick>
						wipe(UISetup5);
						ReloadUI();
					</OnClick>
				</Scripts>
			</Button>
		</Frames>
		<Scripts>
			<OnLoad>
				CreateBG(self);
				self:SetFrameLevel(UIErrorsFrame:GetFrameLevel() - 1);
			</OnLoad>
			<OnMouseDown>
				self:StartMoving();
			</OnMouseDown>
			<OnMouseUp>
				self:StopMovingOrSizing();
			</OnMouseUp>
		</Scripts>
	</Frame>
</Ui>